In [18]:
import pandas as pd

df = pd.DataFrame({
    'group': [1,1,2,2],
    'value': [10,20,30,40]
})

# Using groupby + agg
grouped_result = df.groupby('group').agg({'value':'sum'})
print("Grouped aggregation:\n", grouped_result)

# Using agg alone on the whole dataframe
plain_result = df.agg({'value':'sum'})
print("\nPlain aggregation without groupby:\n", plain_result)

df.head()
 # print(df['value'])

Grouped aggregation:
        value
group
1         30
2         70

Plain aggregation without groupby:
 value    100
dtype: int64

   group  value
0      1     10
1      1     20
2      2     30
3      2     40

In [21]:
for name, group in df.groupby('group'):
    print(f"\n{name}:\n", group)

1:
    group  value
0      1     10
1      1     20

2:
    group  value
2      2     30
3      2     40